<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>

{% if modification == 'add' %}
<h3 color="ff0ff0"> New Blog Added !!!</h3>
{% elif modification == 'delete' %}
<h3 color="ff0ff0"> One blog deleted!!!</h3>
{% elif modification == 'edit' %}
<h3 color="ff0ff0"> One blog edited!!!</h3>
{% endif %}

{% for blog in blog_list %}
<h2> {{ blog.title }} id = {{ blog.id }}   </h2>
<h3> {{ blog.time }} </h3>
<textarea> {{ blog.content_body }}</textarea> <br>
{% endfor %}

</body>
<hr>
<ol>
 <li>Session start date: {{session_start_time}}</li>
 <li>Articles visited: {{ articles_visited }}</li>
 <li>Articles edited: {{ articles_edited }}</li>
 <li>Articles created: {{ articles_created}}</li>
 <li>Articles deleted: {{ articles_deleted }}</li>
</ol>
<form action="/clearsession/" method="post">
    {% csrf_token %}
    <input type="submit" name="clearsession" value="clear">
</form>


</html>