<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blogs</title>
    <style>
        h3.modif{
            color: red;
        }

    </style>
</head>
<body>

{% if modification == 'add' %}
<h3 class="modif"> New Blog Added (id = {{ blog_modified }})!!!</h3>
{% elif modification == 'delete' %}
<h3 class="modif"> One blog deleted (id = {{ blog_modified }} )!!!</h3>
{% elif modification == 'edit' %}
<h3 class="modif"> One blog edited (id = {{ blog_modified}})!!!</h3>
{% endif %}

<a href="#session">GO TO THE BOTTOM</a>

{% for blog in blog_list %}
<h2> Title: {{ blog.title }}   </h2>
<h2> Id : {{ blog.id }} </h2>
<h3> Creation date and time: {{ blog.time }} </h3>
<textarea readonly cols="70" rows="20"> {{ blog.content_body }}</textarea> <br> <hr>
{% endfor %}

</body>

<ol id = "session">
 <li>Session start date: {{session_start_time}}</li>
 <li>Articles visited: {{ articles_visited }}</li>
 <li>Articles edited: {{ articles_edited }}</li>
 <li>Articles created: {{ articles_created}}</li>
 <li>Articles deleted: {{ articles_deleted }}</li>
</ol>
<form action="/clearsession/" method="post">
    {% csrf_token %}
    <input type="submit" name="clearsession" value="Clear session">
</form>


</html>