<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog {{ blog.id }}</title>
</head>
<body>
    <a  href="/myblog/"> Home</a>

    {% if blog %}
        <a  href="/editblog/{{ blog.id }} "> Edit</a>
        <h2> Title: {{ blog.title }} id = {{ blog.id }}   </h2>
        <h3> Creation date and time: {{ blog.time }} </h3>
        <textarea readonly cols="80" rows="30"> {{ blog.content_body }}</textarea> <br>
        <a href="/editblog/{{ blog.id }} "> Edit</a>
    {% else %}
        <h1> This blog does not exist </h1>
    {% endif %}
    <a href="/myblog/"> Home</a>

</body>
</html>