<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Edit blog</title>
</head>
<body>
    <form action="/editblog/{{ blog.id }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title"> Blog Title </label>
            <input type="text" name = "title" id="title" value = "{{ blog.title }}" class="form-control" ><br>
        </div>

        <div class="form-group">
            <label for="content"> Content </label>
            <textarea name="content" id ="content" cols="80" rows="20" class="form-control">{{ blog.content_body }}</textarea><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>

</body>
</html>